 <% @users.each do |user| %>
 <div class="row margin-top-20"> 
  <div class="col-sm-3">
    <!-- <img class="img-responsive img-circle" src="img/sample.jpg" /> -->
    <%= image_tag user.avatar.url(:medium), class: 'img-responsive img-circle' %>
  </div>
  <div class="col-sm-9">
    <h2 class="margin-top-40"><%= user.name %></h2>
  </div>
</div>
<% end %>